
section h1, section h3 {
	text-align: center;
	margin-bottom: 30px;
}

header{
	background-color: #66bb6a;
}

footer {
	border-top: 2px solid black;
}

.top-header img,.problem-statement img,.high-level-overview img,.content-wrapper img {
	border-radius: 6px;
}

.nav-link,.navbar-text {
	transition: color 0.7s ease-in;
}

.active .nav-link {
	color: white !important;
}

.navbar-text:hover {
	color: white !important;
}

.nav-link:hover {
	color: white !important;
}

.navbar {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 2s ease-in, background-color 2s ease-in;
}

.navbar a{
    /*color: white !important;*/
    font-size: 1.4em !important;
}

.dark {
	background-color: #66bb6a;
	padding: 20px 0px 20px 0px;
}

.medium {
	background-color: #338a3e;
	padding: 20px 0px 20px 0px;
}

.light {
	background-color: #98ee99;
	padding: 20px 0px 20px 0px;
}

#fade-content {
	position: absolute;
	display: none;
	top: 30%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-nav {
	background-color: #338a3e;
	visibility: visible;
	opacity: 1;
}

.content {
	opacity: 0;
	visibility: hidden;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	transition: visibility 0s, opacity 2s ease-in;
}

.load {
	opacity: 1;
	visibility: visible;
}

.content h1 {
	margin-bottom: 25px;
}

.top-header  {
	background-color: #66bb6a;
	height: 100vh;
	position: relative;
}

.top-header img {
	width: 	90%;
}

.problem-statement {
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.high-level-overview {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

#margin-fix {
	margin-bottom: 10px;
}

.high-level-overview a {
	text-align: center;	
}

.high-level-overview img {
	width: 80%;
	max-width: 1020px;
}

#list-wrapper {
	align-self: flex-start;
}

.high-level-overview p:nth-of-type(5) {
	margin-top: 20px;
}

#conventional-hetaing,.problem-statement img {
	width: 40%;
	min-width: 300px;
}

.container {
	padding-bottom: 40px;
}

.image-wrapper {
	height: 400px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-wrapper {
	height: 175px;
}

#carouselExampleIndicators {
	height: 417px;
}

.container {
	height: 600px;
}

/*.carousel-section {
	padding-top: 30px;
}*/

.carousel-item img {
  width : 80%;
  max-height: 400px;
}

#web-interface{
	width: 80%;
	height: auto;
}

#HMI-1,#HMI-2,#HMI-3 {
	width: 60%;
}

.carousel-item {
	text-align: center;
	margin: 0px auto;
}

.carousel-indicators {
	bottom: -5px !important;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0px auto;
}

#cap-4-img {
	width: 40%;
	min-width: 300px;
}

#cap-5-img {
	width: 40%;
	min-width: 300px;
}

#cap-6-img {
	width: 40%;
	min-width: 300px;
}

#cap-3-img {
	width: 40%;
	min-width: 300px;
}

.content-wrapper p {
	margin-top: 25px !important;
}

.content-wrapper div {
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.content-wrapper div img {
	margin: 0px 15px;
}


#vent1 {
	width: 40%;
	min-width: 300px;
}

#vent2 {
	width: 40%;
	min-width: 300px;
}

#vent-model-1 {
	width: 25%;
	min-width: 300px;
}

#vent-model-2 {
	width: 25%;
	min-width: 300px;
}


#proof-1,#proof-2 {
	width: 40%;
	min-width: 300px;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 20px 0px;
}

.footer-wrapper div {
	max-width: 80%;
	text-align: center;
	margin-bottom: 10px;
}

.footer-wrapper a {
	padding: 0 5px;
	color: black;
}


@media screen and (max-width: 1745px) {
	#fade-content {
		top: 50%;
	}
	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.content,#fade-content {
		width: 100%;
	}
}

@media screen and (max-width: 1200px){
	.text-wrapper {
		height: auto;
	}
	.container {
		height: 650px;
	}
}


@media screen and (max-width: 1050px){
	#carousel-section {
		height: auto; 
	}
	p {
		text-align: center;
	}
}


@media screen and (max-width: 991px) {
	#carouselExampleIndicators {
		height: 317px;
	}

	.image-wrapper {
		height: 300px;
	}
}

@media screen and (max-width: 841px) {
	#cap-5-img {
		margin-top: 20px;
	}

	#vent2,#vent-model-2,#proof-2 {
		margin-top: 20px;
	}
}


@media screen and (max-width: 767px) {
	#carouselExampleIndicators {
		height: 217px;
	}

	.image-wrapper {
		height: 200px;
	}

	.container {
		height: 610;
	}

}

