
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
  margin: 0;
}

.container {
  color: white !important;
}

.jumbotron {
  background-color: transparent !important;
  padding-bottom: 5px !important;
  margin-bottom: 5px !important;
  text-align: center !important;
}

.jumbotron em {
  color: yellow;
}

.custom-container {
  text-align: center;
  background-color: yellow;
  border-radius: 20px;
  color: red !important;
}

.btn-simple, .mynav {
  color: yellow !important;
}